#jippy {
    position: absolute;
    bottom: 100px;
    right: 10px;

    --border-color: rgb(230, 230, 230);
}

/* Image */
#jippy .jippy-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 5rem;
    height: 5rem;

    transition: all 0.3s ease-in-out;

    cursor: pointer;
}
#jippy .jippy-img.static {
    background-image: url(chrome-extension://__MSG_@@extension_id__/src/resources/clippy_paper.png);
}
#jippy .jippy-img.small {
    background-image: url(chrome-extension://__MSG_@@extension_id__/src/resources/clippy.png);
}
#jippy .jippy-img.action {
    background-image: url(chrome-extension://__MSG_@@extension_id__/src/resources/clippy_rotate_animated.gif);
}

@keyframes clippy-dance {
    0% {
        rotate: -3deg;
    }
    10% {
        rotate: 3deg;
    }
    20% {
        rotate: -3deg;
    }
    30% {
        rotate: 3deg;
    }
    50% {
        rotate: -10deg;
    }
    70% {
        rotate: 10deg;
    }
    80% {
        rotate: -3deg;
    }
    90% {
        rotate: 3deg;
    }
    100% {
        rotate: -3deg;
    }
}

#jippy .jippy-img.dance {
    animation: clippy-dance 1s infinite;
}

/* Bubble */
#jippy .jippy-bubble-container {
    position: relative;
    width: 0;
    height: 0;
}

#jippy .jippy-bubble {
    position: absolute;
    bottom: 0;
    right: 0;

    width: max-content;
    max-width: max(20vw, 500px);
    border-radius: 30px 30px 0 30px;
    background: url(chrome-extension://__MSG_@@extension_id__/src/resources/clipboard-bg.jpg) center;
    padding: 1rem;
    box-shadow: 0 0 5px 2px var(--border-color);

    opacity: 1;
    transform-origin: bottom right;
    transition: all 0.3s ease-in-out;
}
#jippy .jippy-bubble,
#jippy .jippy-bubble p {
    margin: 2px;

    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    text-wrap: balance;
    text-shadow:
        -1px -1px 3px var(--border-color),
        -1px 1px 3px var(--border-color),
        1px -1px 3px var(--border-color),
        1px 1px 3px var(--border-color);
}
#jippy .jippy-bubble.hide-bubble {
    opacity: 0;
    transform: scale(0.01);
    pointer-events: none;
}
#jippy .jippy-bubble * {
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
#jippy .jippy-bubble *:is(h1, h2, h3, h4, h5, h6) {
    font-family: Helvetica, sans-serif;
    user-select: none;
    font-variant: small-caps;
}

#jippy .jippy-bubble h1 {
    font-size: 1.3rem;
}
#jippy .jippy-bubble h2 {
    font-size: 1rem;
}

#jippy .jippy-menu {
    list-style: none;

    margin: 0.5rem 0;
    padding: 0;
}
#jippy .jippy-menu label {
    cursor: pointer;
}
#jippy .jippy-menu li {
    padding: 0.3rem 1rem;

    border-radius: 1rem;

    user-select: none;
    vertical-align: middle;

    transition: all 0.3s linear;
    cursor: pointer;
}
#jippy .jippy-settings::before {
    content: '';

    display: inline-block;
    background: url(chrome-extension://__MSG_@@extension_id__/src/resources/cog.png) center no-repeat;
    background-size: contain;
    width: 1.1rem;
    height: 1.1rem;

    vertical-align: -0.2rem;
}
#jippy .jippy-menu li:hover {
    box-shadow: inset 0 0 20px 3px var(--border-color);
}
