#jippy {
    position: absolute;
    bottom: 100px;
    right: 10px;
    cursor: pointer;

    --border-color: rgb(230, 230, 230);
}

/* Image */
#jippy .jippy-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 5rem;
    height: 5rem;

    transition: all 0.3s ease-in-out;
}
#jippy .jippy-img.static {
    background-image: url(chrome-extension://__MSG_@@extension_id__/src/resources/clippy_paper.png);
}
#jippy .jippy-img.small {
    background-image: url(chrome-extension://__MSG_@@extension_id__/src/resources/clippy.png);
}
#jippy .jippy-img.action {
    background-image: url(chrome-extension://__MSG_@@extension_id__/src/resources/clippy_rotate_animated.gif);
}

@keyframes clippy-dance {
    0% {
        rotate: -3deg;
    }
    10% {
        rotate: 3deg;
    }
    20% {
        rotate: -3deg;
    }
    30% {
        rotate: 3deg;
    }
    50% {
        rotate: -10deg;
    }
    70% {
        rotate: 10deg;
    }
    80% {
        rotate: -3deg;
    }
    90% {
        rotate: 3deg;
    }
    100% {
        rotate: -3deg;
    }
}

#jippy .jippy-img.dance {
    animation: clippy-dance 1s infinite;
}

/* Bubble */
#jippy .jippy-bubble-container {
    position: relative;
    width: 0;
    height: 0;
}

#jippy .jippy-bubble {
    position: absolute;
    bottom: 0;
    right: 0;

    width: max-content;
    min-width: 100px;
    max-width: 15vw;
    border-radius: 30px 30px 0 30px;
    background: url(chrome-extension://__MSG_@@extension_id__/src/resources/clipboard-bg.jpg) center;
    padding: 1rem;
    box-shadow: 0 0 5px 2px var(--border-color);

    opacity: 1;
    transform-origin: bottom right;
    transition: all 0.3s ease-in-out;
}
#jippy .jippy-bubble,
#jippy .jippy-bubble p {
    margin: 2px;

    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    text-align: right;
    text-shadow:
        -1px -1px 3px var(--border-color),
        -1px 1px 3px var(--border-color),
        1px -1px 3px var(--border-color),
        1px 1px 3px var(--border-color);
}
#jippy .jippy-bubble.hide-bubble {
    opacity: 0;
    transform: scale(0.01);
    pointer-events: none;
}
